.container{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    padding: 10px;
    height: 100vh;
    width: 100vh;
    
    gap: 10px;
    text-align: center;
    background-image: url("https://images.squarespace-cdn.com/content/v1/5081f9c284ae02360227c79e/1412244718447-WIVB4IKX0G2FF9M5E1NB/image-asset.jpeg");
    
    
}
#box-1{
    background: red;
    border: 3px solid pink;
    /* height: 300px;
    width: 250px; */
    border-radius: 10%; 
   
    grid-column: 1/3; 
    grid-row: 1/3;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS76wYQAfQUvwPplkpJoBtFoFWi1waQ38VFF4iK4Ubc6w&s=10");
    background-size: contain;
}
#box-2{
    /* height: 100px;
    width: 80px; */
    background:yellow;
    border: 3px solid pink;
    color: aliceblue;
    
    border-radius: 10%;
    grid-column: 3/4;
    grid-row: 1/3;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQr7PCwCDhAY2UrlHn21p9vieALs7DdSIMMMDjnolRHIw&s=10");
    background-size: cover;
}
#box-3{
    /* height: 100px;
    width: 80px; */
    background:yellow;
    border: 3px solid pink;
    color: chartreuse;
    
    border-radius: 10%;
    grid-column: 4/6;
    grid-row: 1/2;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQzmJziGP0BcbUDFulXSjCeLFDsGOyp5OMFt1hpRhnTQ&s=10");
}
#box-4{
    background-color: aqua;
    border: 3px solid pink;
    border-radius: 10%;
    grid-column: 4/6;
    grid-row: 2/3;
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/057/507/977/small/anime-character-design-free-vector.jpg");
}
#box-5{
    background-color: blueviolet;
    border: 3px solid pink;
    border-radius: 10%;
    grid-column: 1/2;
    grid-row: 3/4;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcZMdYSOtTtz0Ppp1atyzgQkvvLJXmOF8RRjl6WzFwWw&s=10");
}
#box-6{
    background-color: blueviolet;
    border: 3px solid pink;
    border-radius: 10%;
    grid-column: 2/3;
    grid-row: 3/4;
    color: beige;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTt23E8u9GXOeEb_IuVnMU6_mLFb_d7ZPckIVWDjyQ68w&s=10");
    background-size: contain;
}
#box-7{
    background-color: blueviolet;
    border: 3px solid pink;
    border-radius: 10%;
    grid-column: 3/4;
    grid-row: 3/4;
    color: aliceblue;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTanu0QCRoScij_XDadqqYdR5AYa8syc--q1jWMWnruDg&s=10");
    background-size: cover;
}
#box-8{
    background-color: blueviolet;
    border: 3px solid pink;
    border-radius: 10%;
    grid-column: 4/6;
    grid-row: 3/4;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRcZMdYSOtTtz0Ppp1atyzgQkvvLJXmOF8RRjl6WzFwWw&s=10");
    background-size: cover;
    
}